<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Src layout</title>
    {# <link rel="stylesheet" href="/public/css/style.css"> #}
  </head>
  <body>
    <h1>Hello from layout!!</h1>
    {% if react | default(true) %}
      <div id="root"></div>
    {% endif %}
    {% block content %}
    {% endblock %}
    <img src="/shared/img/img.jpg" alt="">
    <img src="/assets/img/img.jpg" alt="">
    {% if react | default(true) %}
      <script src="/assets/js/app.js"></script>
    {% endif %}
    <script src="/reload/reload.js"></script>
  </body>
</html>