<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Shared layout</title>
    {# <link rel="stylesheet" href="/public/css/style.css"> #}
  </head>
  <body>
    <h1>Hello from layout!!</h1>
    <div id="root"></div>
    {#<img src="/shared/img/img.jpg" alt="">
    <script src="/main.js"></script>#}
  </body>
</html>